<!DOCTYPE html>
<html>

<head>
    <script src="jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        var mSocket = io("https://test-android.herokuapp.com/") ;  //io("http://localhost:3000")
        
        mSocket.on("server-send-data", function(data){
            $("#showConnection").append(data);
        });

    </script>
</head>

<body>
    <h1> Hello Heroku </h1>
    <h2 id="showConnection"></h2>
</body>

</html>